attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.8
django-autocomplete-light==3.4.1
django-crispy-forms==1.8.1
django-filter==2.2.0
django-widget-tweaks==1.4.5
djangorestframework==3.10.3
idna==2.8
importlib-metadata==0.23
irekua-autocomplete==0.1
irekua-database==0.1.1
irekua-dev-settings==0.1
irekua-filters==0.1
irekua-permissions==0.1
irekua-rest-api==0.1
itypes==1.1.0
Jinja2==2.10.3
jsonschema==3.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
more-itertools==7.2.0
Pillow==6.2.1
psycopg2-binary==2.8.4
pycountry==19.8.18
pyrsistent==0.15.6
pytz==2019.3
requests==2.22.0
selia-forms==0.1
selia-templates==0.1
selia-visualizers==0.1
six==1.13.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.25.7
zipp==0.6.0

